@model CSE_5320.Models.Home.HomeModel

@if (Model.UserAssets.Count > 0)
{

    foreach (var a in Model.UserAssets)
    {
        <button type="button" class="btn btn-outline-dark btn-sm" onclick="loadInfo(@a.AsserRequestId)">
            @a.AssetName
        </button>

        //Requested
        if (a.StatusId == 5)
        {
            <button type="button" class="btn btn-outline-danger btn-sm" onclick="cancelRequest(@a.AsserRequestId)">Cancel</button>
        }

        //Approved
        if (a.StatusId == 6)
        {
            <button type="button" class="btn btn-outline-danger btn-sm" onclick="returnAsset(@a.AsserRequestId)">Return</button>
        }

        //Denied
        if (a.StatusId == 7)
        {

        }

        //Cancled
        if (a.StatusId == 11)
        {

        }
    }
}
else
{
    <div class="alert alert-warning" role="alert">
        There are no requests
    </div>
}
