@{
    ViewBag.Title = "Asset management";
}


<main role="main" class="container">
    <div class="align-items-center p-3 my-3 text-white-50 bg-purple rounded box-shadow">
        <div class="float-right">
            @Html.ActionLink("Back to Dashboard", "Index", "Dashboard", null, new { @class = "btn btn-outline-light float-right" })
        </div>
        <div class="lh-100">
            <h6 class="mb-0 text-white lh-100">Asset Returns</h6>
            <small>Confirm that the following assets have been returned</small>
        </div>
    </div>

    <div class="my-3 p-3 bg-white rounded box-shadow">
        <table class="table table-hover" style="border: none">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Asset Name</th>
                    <th scope="col">Requesting user</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>
                        <button type="button" class="btn btn-outline-success">Confirm</button>
                        <button type="button" class="btn btn-outline-danger">Deny</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</main>