@{
    ViewBag.Title = "Home Page";
}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
    <h1 class="display-4">Dashboard</h1><hr />
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Distribution of Assets</h5><hr />
                    <div id="asset" style="height:425px"></div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body" style="overflow:scroll;height:250px;overflow-x: hidden;overflow-y: hidden;">
                        <h5 class="card-title">Asset Requests <span class="small float-right"><a href="@Url.Action("Assets", "Home")">(See All)</a></span></h5><hr />
                        <table class="table table-sm table-hover">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Department</th>
                                    <th scope="col">Location</th>
                                    <th scope="col">User</th>
                                    <th scope="col">Asset</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>Finance</td>
                                    <td>The University Of Texas at Arlington</td>
                                    <td>Mark</td>
                                    <td>Laptop</td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>Engineering</td>
                                    <td>The University Of Texas at Arlington</td>
                                    <td>Jacob</td>
                                    <td>Table</td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>Finance</td>
                                    <td>The University Of Texas at Arlington</td>
                                    <td>Jacob</td>
                                    <td>Monitor</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
