@{
    ViewBag.Title = "Home Page";
}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Distribution of Assets</h5><hr />
            <div id="chartdiv" style="height:500px"></div>
        </div>
    </div> 
</main>
