
@{
    ViewBag.Title = "Maintainance";
    Layout = "~/Views/Shared/_MaintainanceLayout.cshtml";
}

<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
    <h1 class="display-4">Maintainance</h1><hr />
</main>


