@model CSE_5320.Models.ViewModels.AssetViewModel

@if (Model.AssetDetails.Count > 0)
{
    <table class="table table-hover" style="border: none">

        <thead>
            <tr>
                <th scope="col">Asset</th>
                <th scope="col">user</th>
                <th scope="col">Duration</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var a in Model.AssetDetails)
            {
                <tr>
                    <td scope="row">
                        <button type="button" class="btn btn-outline-dark btn-sm" onclick="loadInfo(@a.AssetId)">
                            @a.AssetName
                        </button>
                    </td>
                    <td>@a.AssignedUserName</td>
                    <td>@a.Duration</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="alert alert-warning" role="alert">
        There are no denied requests
    </div>
}
