@model CSE_5320.Models.Dashboard.DasboardViewModel

@if (Model.AssetInformation.Count > 0)
{
    <table class="table table-hover" style="border: none">

        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Details</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var a in Model.AssetInformation)
            {
                <tr>
                    <td>@a.AssetName</td>
                    <td scope="row">
                        <button type="button" class="btn btn-outline-dark btn-sm" onclick="loadInfo(@a.AssetId)">
                            
                        </button>
                    </td>
                    <td></td>
                    <td></td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="alert alert-warning" role="alert">
        There are no Assets to be listed
    </div>
}